<h1><%= @basketball_team.name %></h1>
<p>City: <%= @basketball_team.city %></p>
<p>Innaguration Year: <%= @basketball_team.innaguration_year %></p>
<p>Championship: <%= @basketball_team.championship %></p>
<p>Conference: <%= @basketball_team.conference %></p>