<%= link_to 'All Players', "/players" %>
<%= link_to 'All Teams', "/basketball_teams" %>
<%= link_to "/basketball_teams/#{@basketball_team.id}/players" %>

<h1><%= @basketball_team.name %></h1>
<ul>
    <p><h3>City: <%= @basketball_team.city %></p></h3>
    <p><h3>Innaguration Year: <%= @basketball_team.innaguration_year %></p></h3>
    <p><h3>Championship: <%= @basketball_team.championship %></p></h3>
    <p><h3>Conference: <%= @basketball_team.conference %></p></h3>
    <li><h3><a href="/basketball_teams/<%= @basketball_team.id %>/players">Number of Players</a>: <%= @count %></h3>
<ul>