<%= link_to 'All Players', "/players" %>
<%= link_to 'All Teams', "/basketball_teams" %>
<h1>Players</h1>
<ul>
    <% @players.each do |player| %>
        <h3><%= player.name %></h3>
        <li><%= player.jersey_number %>
        <li><%= player.year_drafted %>
        <li><%= player.all_star %>
        <li><%= player.basketball_team_id %>
    <% end %>
</ul>