<%= link_to "/players" %>
<%= link_to "/basketball_teams" %>
<h1><%= @player.name %></h1>
<p>Jersey Number: <%= @player.jersey_number %></p>
<p>Year Drafted: <%= @player.year_drafted %></p>
<p>All Star: <%= @player.all_star %></p>
<p>Basketball Team ID: <%= @player.basketball_team_id %></p>